.content {
    display: flex;
    justify-content: space-between;
}

.aceEditor {
    border: 1px solid rgba(177, 150, 150, 0.311);
    border-radius: 10px;
    height: 60%;
}

.stretchableDiv {
    border: 1px solid rgba(177, 150, 150, 0.311);
    border-radius: 10px;
    height: 40%;
    padding: 10px;
}

.container {
    position: relative;
    min-height: 80vh;
    width: 100%;
}
