.EnterSpace {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;
    .Card {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
